/* Effective stylesheet produced by snapshot save */
body, sub, sup { position: relative; }
#hot_topics div, button, input { line-height: normal; }
#global_nav .primary > li, #global_search button, #hot_topics, #nWelcome a, #nWelcome span, b, strong { font-weight: 700; }
#global_nav ul, #mostactivesidebar-widget ul { list-style-type: none; }
#back-to-top, #global_nav ul a:hover, .graph-button-default:hover, .main a h2, .main h2 a, .tabs li a, [title="Market Holiday"]:hover { text-decoration: none; }
.genTable table, .table-table, table { border-collapse: collapse; }
#global_header button, #global_nav, #global_search, .group, .highlight, .home .featured-video, .sidebar__market-musings .sidebar__market-musings--author, .site__content, .site__footer--primary, button {  }
.acResults li, .constant li, .tabs li, fieldset li, nav ol, nav ul { list-style: outside none none; }
.snippet, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
button, html, input, select, textarea { font-family: sans-serif; }
a:active, a:hover, a:link, a:visited { outline: 0px none; }
q::after, q::before { content: none; }
img {  }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input[type="button"], input[type="reset"], input[type="submit"] {  }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
hr, input[type="search"] { box-sizing: content-box; }
textarea { overflow: auto; vertical-align: top; }
a, abbr, acronym, address, applet, big, blockquote, caption, cite, code, dd, del, dfn, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; }
#global_header *, .backdrop *, .pf *, .rates-widget *, .site__footer * { box-sizing: border-box; }
body, html { overflow: visible; }
html { background-color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; height: auto; letter-spacing: normal; line-height: 1.5; min-height: 100%; }
body { margin: 0px; color: rgb(66, 66, 66); height: 100%; width: 100%; font-size: 14px; }
#hot_topics, #nasdaq_login { font-size: 13px; overflow: visible; }
.cf::after, .cf::before { content: ""; display: table; }
.cf::after, .clear { clear: both; }
input { border-radius: 0px; outline: 0px none; }
input[type="email"]:focus, input[type="text"]:focus { box-shadow: 0px 0px 3px rgba(142, 231, 252, 0.5), 0px 1px 10px rgba(179, 239, 253, 0.35), 0px 1px 20px rgba(213, 245, 253, 0.2); outline: 0px none; }
a:active { transition: none 0s ease 0s ; }
hr { box-sizing: content-box; height: 0px; }
#header_wrap, .wrapper { min-width: 768px; margin: auto; position: relative; }
.wrapper { width: 1280px; }
.inner .wrapper { width: 1000px; }
.inner #header_wrap { max-width: 1240px; }
.inner #header_wrap, .inner #hot_topics { min-width: 1000px; }
#header_wrap, .wide #header_wrap { max-width: 1450px; }
#global_nav::after, #global_nav::before { content: ""; height: 73px; position: absolute; top: 0px; width: 50%; z-index: 1; }
#global_nav::before { background-color: rgb(0, 0, 0); left: 0px; }
#global_nav::after { background-color: rgb(0, 158, 194); left: 50%; }
#hot_topics { color: rgb(255, 255, 255); height: 0px; line-height: 49px; position: relative; text-align: center; z-index: 3; }
#hot_topics div { background-color: rgb(0, 120, 138); border-radius: 3px; margin: 0px 5px 0px 0px; padding: 5px 8px; }
#hot_topics div, #hot_topics div span { display: inline-block; }
#header_wrap { height: 73px; z-index: 2; }
#global_header .logo { float: left; padding: 5px; position: relative; }
#global_header .logo a { position: absolute; z-index: 1; }
#global_header .logo span { background: transparent url("global-sprite-5222015v1.png") repeat scroll -277px -77px; display: block; height: 63px; margin: 0px auto; position: relative; width: 225px; }
#global_header .logo::after, #global_header .logo::before { content: ""; height: 73px; position: absolute; top: 0px; }
#global_header .logo::before { background-color: rgb(0, 0, 0); left: -25px; width: 285px; z-index: 1; }
#global_header .logo::after { background-color: rgb(0, 158, 194); border-bottom: 0.0312rem solid rgb(71, 195, 211); right: -960px; width: 725px; }
#nasdaq_login { float: right; height: 0px; padding: 12px 10px 0px; position: relative; }
#hot_topics a, #nWelcome a, #nWelcome span { color: rgb(255, 255, 255); }
#global_search { background-color: rgb(66, 66, 66); margin: 0px 0px 15px; padding: 7px 0px; }
#global_search form { height: 0px; min-width: 768px; padding-top: 0px; position: absolute; text-align: center; width: 100%; }
#global_search #stock-search-wrap { display: inline-block; position: relative; }
#global_search label { display: block; height: 29px; margin: 1.1em 0px 0px; white-space: nowrap; }
#global_search input { border: medium none; float: left; font-size: 14px; padding: 0.4em 1em; width: 350px; }
#global_search button { background-color: rgb(253, 185, 19); border: medium none; border-radius: 0px 3px 3px 0px; color: rgb(255, 255, 255); display: inline-block; font-size: 14px; margin: 0px 0px 0px -1em; outline: 0px none; padding: 0.4em 1.5em; }
#global_search button, #global_search input { height: 100%; }
#global_search .left-ad-unit120, #global_search .right-ad-unit120 { height: 60px; overflow: hidden; width: 255px; }
#global_search .left-ad-unit120, #global_search .left-ad-unit120 .makeAd { float: left; }
#global_search .right-ad-unit120, #global_search .right-ad-unit120 .makeAd { float: right; }
#global_search .makeAd { width: 120px; height: 60px; }
#global_search .left-ad-unit120 #_nad1 { margin: 0px 10px 0px 0px; }
#global_search .right-ad-unit120 #_nad3 { margin: 0px 0px 0px 10px; }
#global_banner { height: auto; margin: 15px auto; min-height: 90px; text-align: center; width: auto; }
.inner #global_banner { min-width: 1000px; }
#global_banner div { text-align: center !important; margin: 0px auto !important; }
#global_nav { background-color: rgb(0, 158, 194); position: relative; }
#global_nav li, #global_nav ul { background: transparent none repeat scroll 0px 0px; margin: 0px; padding: 0px; }
#global_nav .primary, #global_nav .primary > li.hilite { background-color: rgb(0, 158, 194); }
#global_nav li, .global_dropdown li { font-size: 12px; }
.global_dropdown table img { min-width: 100px; }
.first-drop > li:first-child { font-size: 13px; }
.first-drop > li:first-child > a { font-weight: 700; color: rgb(0, 0, 0); }
#global_nav .primary { border-style: solid; border-color: rgb(71, 195, 211); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; display: block; font-size: 0px; padding: 0px; text-align: center; white-space: nowrap; }
#global_nav .primary > li { display: inline-block; letter-spacing: 0.045em; border-width: 0px 1px 0px 0px; position: relative; }
#global_nav .primary li { line-height: 1.5; }
#global_nav .primary > li.hilite > a { background-color: rgb(71, 195, 211); }
#global_nav .primary > li > a { border-right: 1px solid rgb(71, 195, 211); color: rgb(255, 255, 255); display: block; text-transform: uppercase; position: relative; }
#global_nav .primary > li > a, .wide #global_nav .primary > li > a { padding: 0.5em 2.22em; }
.inner #global_nav .primary > li > a { padding: 0.5em 0.73em; }
#global_nav .primary > li > a:hover::after { margin: 0px 0px 0px 2px; position: relative; transform: matrix(-1, 0, -0.371897, -1, 0, 0); }
#global_nav .primary > li > a:nth-child(1) { border-width: 0px 1px; }
#global_nav .primary > li > a::after { color: rgb(71, 195, 211); content: "▼"; display: inline-block; font-size: 13px; margin: 0px 0px 0px 2px; width: 13px; }
#global_nav #site-nav-company .global_dropdown::after, #global_nav .primary::after, #site-nav-company table::before, li#site-nav-nasdaq .profile::before { content: ""; position: absolute; }
#global_nav .primary::after { bottom: -6px; box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.75) inset; height: 6px; left: 0px; overflow: hidden; width: 100%; }
.global_dropdown { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 1px 20px rgba(0, 0, 0, 0.1), 0px 1px 50px rgba(0, 0, 0, 0.05), 0px -2px 0px rgba(0, 0, 0, 0.1) inset; font-size: 12px; font-weight: 400; margin: 0px 0px 0px -6px; text-align: left; white-space: normal; width: 375px; z-index: 9999; }
.first-drop .half, .half { width: 50%; }
.primary-drop { border-bottom: 1px solid rgb(230, 230, 230); }
.primary-drop:last-child { border-bottom: 0px none; }
.primary-drop:first-child { border-bottom: 1px solid rgb(230, 230, 230); }
.primary .global_dropdown a { color: rgb(0, 158, 194); }
.primary a.blue-button { color: rgb(255, 255, 255); }
.primary a.blue-button:hover { background: rgb(173, 32, 142) none repeat scroll 0% 0%; }
.global_dropdown h4 { margin: 0px; }
#global_nav .global_dropdown { display: none; }
#global_nav li#site-nav-nasdaq .global_dropdown, #global_nav li#site-nav-pf .global_dropdown { right: 6px; }
li#site-nav-nasdaq .profile::before { border-left: 65px solid transparent; border-right: 0px solid transparent; border-bottom: 173px solid rgba(230, 230, 230, 0.25); bottom: 0px; right: 0px; }
.first-drop { border-bottom: 1px solid rgb(230, 230, 230); }
.first-drop li { text-align: left; }
#global_nav .first-drop li { padding: 0px 0px 2px 23px; }
.first-drop li + li { background: transparent none repeat scroll 0px 0px; }
#global_nav .first-drop li:first-child, #global_nav .primary-drop li:first-child { margin-top: 1em; }
#global_nav .first-drop li:last-child, #global_nav .primary-drop li:last-child { margin-bottom: 1em; }
.first-drop span, .primary-drop span { font-size: 14px; font-weight: 700; white-space: nowrap; }
#site-nav-advanced ul, #site-nav-company ul, #site-nav-quotes .first-drop + .first-drop + .first-drop, #site-nav-quotes .half + .half .first-drop + .first-drop + .first-drop { border-bottom: 0px none; }
.half { padding: 1em; }
#global_nav .primary > li#site-nav-company > a { border-left: 1px solid rgb(71, 195, 211); }
#global_nav #site-nav-company .global_dropdown::after { border-bottom: 549px solid rgba(255, 255, 255, 0.1); border-left: 206px solid transparent; display: block; left: auto; right: 0px; top: 0px; width: 0px; z-index: 1; }
#global_nav #site-nav-company .global_dropdown { background: rgb(0, 158, 194) none repeat scroll 0% 0%; overflow: hidden; padding: 2.25em; width: 410px; }
#site-nav-company .global_dropdown, #site-nav-company table::before { border-top: 1px solid rgb(71, 195, 211); }
#site-nav-company .half { padding: 0px; }
#site-nav-company table { margin: 25px 0px 0px; width: 100%; }
#site-nav-company table::before { height: 1px; left: 0px; top: -25px; width: 100%; }
#nav-company-border, #site-nav-company .half, #site-nav-company table { position: relative; z-index: 5; }
#site-nav-company .company-drop span, #site-nav-company table span { color: rgb(255, 255, 255); font-size: 14px; text-transform: uppercase; }
.TextTransN h3, button, select { text-transform: none; }
#site-nav-company .company-drop a, #site-nav-company table a { color: rgba(255, 255, 255, 0.75); }
.company-drop li { height: 80px; }
.company-drop li:last-child { height: 65px; }
#nWelcome { margin: 0px 0px 0px 8px; }
#nWelcome #registerlink { background-color: rgb(255, 255, 255); padding: 5px 8px; }
#nWelcome #registerlink span { color: rgb(108, 179, 63); }
#nWelcome #registerlink:active, #nWelcome #registerlink:hover { background-color: rgb(108, 179, 63); transition: none 0s ease 0s ; opacity: 1; }
#nWelcome #registerlink:hover span { color: rgb(255, 255, 255); }
#global_nav .primary > li[id] > a span, #global_notifier .miq-notifier span, #global_search button span, #nWelcome #registerlink span { display: inline-block; }
#global_header .logo::after, #global_header .logo::before, #global_nav .primary > li[id] > a, #global_notifier .miq-notifier, #global_search button, #hot_topics div, #nWelcome #registerlink { transform: skewX(-20.4deg); }
#global_nav .primary > li > a::after, #global_nav .primary > li[id] > a span, #global_notifier .miq-notifier span, #global_search button span, #hot_topics div span, #nWelcome #registerlink span { transform: skewX(20.4deg); }
#global_header.global-fixed-nav .logo::before { width: 175px; }
.global-fixed-nav #global_nav .logo::after, .global-fixed-nav #global_nav .logo::before, .global-fixed-nav #global_nav::after, .global-fixed-nav #global_nav::before, .global-fixed-nav #header_wrap { height: 47px; }
.global-fixed-nav #global_nav .primary::after { box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.3) inset; }
#global_nav_placeholder, .global-fixed-nav #hot_topics { display: none; }
@keyframes global-nav-slide {
  0% { top: -83px; }
  100% { top: 0px; }
}
@keyframes global-search-slide {
  0% { top: -73px; }
  100% { top: 10px; }
}
#global_header button::after, #global_nav::after, #global_search::after, .site__content::after, .site__footer--primary::after { content: ""; display: table; clear: both; }
.fa, div#qh_top_row { color: rgb(0, 158, 194); }
.pf-wrap, .wrap { width: 740px; margin: 0px auto; }
.wrap { width: 1280px; }
#back-to-top { display: none; box-shadow: 1px 1px 5px 0px rgba(66, 66, 66, 0.8); border-radius: 4px; margin-left: -95px; position: fixed; bottom: 208px; color: rgb(0, 0, 0); cursor: pointer; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px 10px; opacity: 0.8; text-align: center; white-space: nowrap; }
#back-to-top span { background: transparent url("urn:not-loaded:http://www.nasdaq.com/images/back-to-top-arrow.svg") no-repeat scroll 0% 0%; display: block; height: 35px; width: 60px; }
#article-partner-links li:nth-child(2n+1), .news-story #related-articles li:nth-child(2n+1) { padding-right: 4%; }
#articlebody h2::after, #articlebody h2::before, .aspNetDisabled.liked { display: none; }
.sidebar__brokers ul, ul { list-style-type: none; }
.acResults { left: 0px !important; margin: 0px; min-width: inherit !important; padding: 0px 93px 0px 0px; text-align: left; top: 43px !important; width: 100% !important; z-index: 9999; }
#blackoutinner, #blackoutmiddle, #slidenum, .cycle-text, .site__footer { text-align: center; }
.wrap { padding: 1em 0px; }
.site__footer { margin: 15px 0px 0px; }
.site__footer ul { margin: 0px; }
.site__footer__nav li { display: inline-block; }
.site__footer--primary .icon { height: 26px; margin: 0.6em 0px 0px 0.25em; width: 26px; }
.site__footer--primary .logo { display: block; float: left; }
.footerText span, .site__footer .icon { display: inline-block; }
.site__footer--primary .logo div { background: transparent url("global-sprite-5222015v1.png") repeat scroll -370px -185px; height: 43px; width: 132px; }
.icon-facebook { background: transparent url("global-sprite-5222015v1.png") no-repeat scroll -101px -150px; }
.icon-twitter { background: transparent url("global-sprite-5222015v1.png") no-repeat scroll -138px -150px; }
.icon-google-plus { background: transparent url("global-sprite-5222015v1.png") no-repeat scroll -175px -150px; }
@keyframes feedback {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}
@keyframes feedback {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}
@keyframes feedback {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}
.footerText span { animation: 2s ease 0s normal none infinite running feedback; background: transparent url("global-sprite-5222015v1.png") no-repeat scroll -54px -238px; height: 9px; margin: 0px 5px 0px 0px; width: 9px; }
.site__footer a { color: rgb(255, 255, 255); }
.site__footer--primary { background-color: rgb(0, 0, 0); }
.site__footer--secondary { padding: 0px 0px 4.75em; background-color: rgb(66, 66, 66); }
.site__footer__nav ul li { background: transparent none repeat scroll 0px 0px; margin: 1em 0px 0px; padding: 0px; }
.site__footer__nav ul li a, .site__footer__nav ul li span { color: rgb(255, 255, 255); font-size: 13px; }
.site__footer__nav ul li a + span { padding: 0px 5px 0px 8px; }
.site__footer__nav ul li:first-child a { color: rgb(0, 158, 194); font-size: 15px; }
.site__footer__nav ul.lighter li { margin: 0.7em 0px 0px; }
.site__footer__nav ul.lighter li a { color: rgb(255, 255, 255); font-size: 12px; }
.site__footer__nav [title="Nasdaq"], .site__footer__nav [title="NASDAQ OMX"] { padding: 0px 8px 0px 0px; }
.pf { position: fixed; bottom: 0px; left: 0px; width: 100%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; border-top: 1px solid rgb(0, 0, 0); z-index: 9999; }
.constant h5, .pf-wrap { position: relative; }
.pf.show { background-color: transparent; border-top: medium none; height: 26px; }
.pf-wrap * { margin: 0px; padding: 0px; }
.constant .details h5 + h5, form { margin: 0px; }
.constant h5::before { content: ""; display: block; position: absolute; bottom: 0.6em; left: 0px; height: 0px; width: 0px; border-bottom: 7px solid transparent; border-right: 5px solid transparent; border-left: 5px solid transparent; }
.lightbox, .load-stocks .close { display: none; }
.constant .up h5::before { border-bottom: 7px solid rgb(108, 179, 63); bottom: 0.55em; }
.constant .down h5::before { border-bottom: 0px none; border-top: 7px solid rgb(238, 53, 36); }
#content ul a, #slidenum, .close, .h2-section h2, h1, h3, h4, h5 { font-weight: 700; }
.pf { height: 144px; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.backdrop { position: fixed; top: -100%; left: 0px; z-index: 1; background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%; opacity: 0; }
.backdrop td { vertical-align: middle; width: 100%; height: 100%; }
.lightbox { width: 500px; margin: 0px auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 2em 2em 1.15em; border: 2px solid rgb(188, 188, 188); box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 0px 50px rgba(0, 0, 0, 0.05); position: relative; }
.close { background: transparent none repeat scroll 0% 0%; color: rgb(168, 168, 168); cursor: pointer; font-size: 16px; line-height: 17px; position: absolute; right: 5px; top: 3px; }
#blackoutinner, #blackoutmiddle, #content, #right-column-div, .close .x { position: relative; }
.close .x { top: 3px; font-size: 27px; padding-left: 5px; color: rgb(89, 89, 89); }
#stock-searches.lightbox { font-size: 14px; }
#edit-stocks { height: 270px; width: 450px; }
#BgSelector, #QuoteSetting { border-radius: 7px; float: left; margin: 10px 0px; padding: 10px; width: 450px; }
#BgSelector > div, #QuoteSetting > div { float: left; width: 175px; }
.BgSelector-1, .BgSelector-2, .BgSelector-3, .BgSelector-4 { width: 120px; }
.BgSelector-2, .BgSelector-4 { margin-top: 5px; }
.BgSelector-color { float: right; height: 15px; width: 21px; }
.BgSelector-1 .BgSelector-color { background-color: rgb(0, 0, 0); }
.BgSelector-2 .BgSelector-color { background-color: rgb(66, 66, 66); }
.BgSelector-3 .BgSelector-color { background-color: rgb(230, 230, 230); }
.BgSelector-4 .BgSelector-color { background-color: rgb(71, 195, 211); }
#confirm.lightbox div { height: 50px; margin: 0px auto; width: 300px; }
.highlight::after, .home .featured-video::after, .sidebar__market-musings .sidebar__market-musings--author::after, button::after { content: ""; display: table; clear: both; }
@-moz-document url-prefix("") {
  #global_nav .primary > li > a:hover::after { top: 1px; }
}
#container { background-color: rgb(255, 255, 255); font-size: 0.75em; min-height: 700px; }
.inner #container { width: 1000px; }
.inner #content { width: 990px; }
#content { clear: both; font: 12px Arial; left: 10px; text-align: left; }
.inner p, .wide p { font-size: 14px; line-height: 24px; margin: 10px 10px 10px 0px; }
.home h1, dd, h2 { margin-bottom: 15px; }
#container hr, hr { border-width: 1px medium medium; border-style: dotted none none; border-color: rgb(188, 188, 188) currentcolor currentcolor; margin: 10px auto 0px 0px; }
#right-column-div { float: left; }
.three-hundred-wide-right-rail #right-column-div { width: 300px; }
#left-column-div { float: left; border-right: 1px solid rgb(230, 230, 230); }
.three-hundred-wide-right-rail #left-column-div { width: 650px; margin-right: 15px; padding-right: 15px; }
h1 { font-size: 27px; line-height: 34px; margin: 5px 0px 10px; }
.home h1, h2, h3, h4 { font-size: 14px; }
.home h1, h2 { background-color: rgb(66, 66, 66); color: rgb(255, 255, 255); letter-spacing: 0.75px; padding: 7px 10px 6px 15px; line-height: 17px; display: block; }
.home h1::after, .home h1::before, h2::after, h2::before { content: ""; display: block; background-color: transparent; position: absolute; top: 0px; border-style: solid; }
h4, h5 { color: rgb(66, 66, 66); }
.home h1::before, h2::before { left: -10px; border-width: 0px 0px 75px 30px; border-color: transparent transparent transparent rgb(0, 158, 194); }
.home h1, h2 { position: relative; padding-left: 25px; overflow: hidden; }
.home h1::after, h2::after { right: 0px; border-width: 0px 10px 75px 30px; border-color: transparent rgb(0, 158, 194) rgb(0, 158, 194) transparent; }
h2.right-rail::after, h2.right-rail::before { content: ""; display: block; background-color: transparent; position: absolute; top: 0px; border-style: solid; border-width: 0px 0px 47px 25px; }
h2.right-rail::before { left: 0px; border-color: transparent transparent transparent rgb(0, 158, 194); }
h2.right-rail::after { right: 0px; border-color: transparent transparent rgb(0, 158, 194); }
h3 { line-height: 22px; padding: 0px 0px 5px; }
#content h1 a, .h2-section h2, h1, h3 { color: rgb(0, 83, 155); }
#content h1 a, .home h1, h2, h6 { font-weight: 400; }
h4, h5, h6 { line-height: 18px; }
.h2-section::before { content: url("urn:not-loaded:http://www.nasdaq.com/images/forex/icon_contributors.png"); top: 7px; z-index: 1; position: absolute; left: 7px; }
.h2-section::after { background-color: rgb(253, 185, 19); border-radius: 30px; content: ""; height: 35px; position: absolute; width: 35px; top: 0px; }
.h2-section h2::after, .h2-section h2::before, h2.bar::after, h2.bar::before { display: none; }
.small, small { font-size: 12px; color: rgb(168, 168, 168); }
#content ul a { color: rgb(66, 66, 66); }
html .blue { color: rgb(0, 83, 155); }
.text-red, html .red { color: rgb(238, 53, 36); }
#content ul a:hover, a:active, a:hover, a:link, a:visited { color: rgb(0, 158, 194); text-decoration: none; }
a:hover { cursor: pointer; }
a:focus { outline: thin dotted; box-shadow: none; }
.view-all-anchor, .view-all-anchors { font-size: 14px; font-weight: 700; line-height: 1; position: relative; padding: 0px 0px 0px 18px; }
.view-all-anchor a:hover, .view-all-anchors a:hover { text-decoration: none; }
.view-all-anchor a span::before, .view-all-anchors::before { content: "."; background: transparent url("view-all-arrow.svg") no-repeat scroll 0% 0%; position: absolute; left: 0px; top: 2px; color: transparent; width: 14px; }
.view-all-anchors::before { top: 5px; }
.view-comments .view-more-anchor a::before, .view-more-anchor a::before { border-radius: 20px; color: rgb(255, 255, 255); font-size: 18px; left: 0px; top: -2px; height: 20px; position: absolute; width: 20px; text-align: center; }
.view-more-anchor a::before { background: rgb(188, 188, 188) none repeat scroll 0% 0%; content: "+"; }
.view-comments .view-more-anchor a::before { background: rgb(253, 185, 19) none repeat scroll 0% 0%; content: "∨"; line-height: 18px; }
.view-more-anchor a:hover::before { background: rgb(0, 158, 194) none repeat scroll 0% 0%; }
.ownership-info::before { background: rgb(89, 89, 89) none repeat scroll 0% 0%; border-radius: 30px; content: "i"; height: 20px; position: absolute; width: 20px; color: rgb(255, 255, 255); font-family: Times; font-size: 18px; text-align: center; }
ol, ul { line-height: 1.6em; margin: 0px 1.5em 1.5em; }
#Homepage-Market-News, .box-module ul, .orange-ordered-list, .rail-module ul { list-style-image: url("orange-arrow.gif"); }
.box-module ul a:active, .box-module ul a:link, .box-module ul a:visited, .orange-ordered-list a:active, .orange-ordered-list a:link, .orange-ordered-list a:visited, .rail-module ul a:active, .rail-module ul a:link, .rail-module ul a:visited, span.breadcrumb-text b, span.qbreadcrumb b, ul .text a, ul#Homepage-Market-News a:active, ul#Homepage-Market-News a:link, ul#Homepage-Market-News a:visited { color: rgb(66, 66, 66); }
.box-module ul a:hover, .orange-ordered-list a:hover, .rail-module ul a:hover, ul .text a:hover, ul#Homepage-Market-News a:hover { color: rgb(0, 158, 194); }
span.breadcrumb-text, span.breadcrumb-text a, span.qbreadcrumb, span.qbreadcrumb a { color: rgb(168, 168, 168); }
span.breadcrumb-text, span.breadcrumb-text a { font-size: 11px; letter-spacing: 0.045em; }
div.breadcrumb-div-2-column { z-index: 9; margin-left: 10px; margin-bottom: 5px; }
div.tab-wrap, div.tab-wrap-purple { height: 28px; }
#header-tabs li, #tabs-new li, .header-tabs li, .tabs li { display: inline; }
.tab-wrap-content ul#header-tabs, .tab-wrap-content-purple ul#tabs-new, ul#header-tabs, ul#tabs-new { margin-left: 0px; }
#header-tabs a, #tabs-new a, .header-tabs a, .tabs a { cursor: pointer; text-decoration: none; }
#header-tabs a span, #tabs-new a span, .header-tabs a span, .tabs a span { display: block; float: left; font-size: 14px; font-weight: 700; margin-right: 0px; }
#header-tabs a .normal-width, #header-tabs a span, #tabs-new a .normal-width, .header-tabs a .normal-width, .header-tabs a span, .tabs li a .normal-width, ul#tabs-new a span { padding: 0px 8px; height: 28px; line-height: 28px; margin: 0px 3px 0px 0px; }
#header-tabs a .wide-width, #tabs-new a .wide-width, .header-tabs a .wide-width, .tabs li a .wide-width { height: 28px; line-height: 28px; padding: 0px 16px; margin: 0px 3px 0px 0px; }
#header-tabs .tab-header-a span, #header-tabs a span, #tabs-new .tab-new-a span, #tabs-new a span, .header-tabs .tab-header-a span, .tabs a span { border-radius: 3px 3px 0px 0px; transition: all 0.3s ease 0s; }
#header-tabs .tab-header-a span, #header-tabs a span, .header-tabs .tab-header-a span { color: rgb(0, 83, 155); }
#header-tabs .tab-header-a-mo span, #header-tabs .tab-header-a-mo-current span, #header-tabs .tab-header-a-mo-current span:hover, #header-tabs .tab-header-a.current span, #header-tabs a:active span, #header-tabs a:hover span, .header-tabs .tab-header-a-mo span, .header-tabs .tab-header-a-mo span:hover, .header-tabs li.active a span, .header-tabs li.active a:hover span { border-bottom: 3px solid rgb(0, 83, 155); transition: all 0.3s ease 0s; }
.genTable td, .genTable th { vertical-align: top; line-height: normal; }
.table-headtag { background: rgb(0, 83, 155) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 3px 3px 0px 0px; font-weight: 500; padding: 8px; margin-top: 5px; }
.genTable table { border: 1px solid rgb(209, 209, 209); width: 100%; }
.genTable th { border: medium none; color: rgb(0, 83, 155); font-weight: 700; padding: 8px; text-align: left; }
.genTable td { border-style: solid none; border-bottom: 1px solid rgb(230, 230, 230); padding: 8px; }
.genTable thead { border: 1px solid rgb(0, 83, 155); }
.genTable thead tr:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.genTable .infotablealt > tr:hover, .genTable tr:hover { background: rgb(230, 230, 230) none repeat scroll 0% 0%; cursor: default; }
table { border-spacing: 0px; }
table, td, th, tr { border: 0px none; }
* { box-sizing: content-box; }
.education-lesson h5::before, .lesson-complete-icon::before { content: " "; width: 8px; height: 8px; position: relative; display: block; border-radius: 15px; border: 1px solid rgb(148, 148, 148); left: -15px; top: 13px; }
.education-lesson.lesson-complete h5::before, .lesson-complete::before { background-color: rgb(0, 158, 194); border: 1px solid rgb(0, 158, 194); }
.education-table .vertical-navigation a::before { content: "▶"; position: absolute; color: rgb(255, 255, 255); top: 5px; font-size: 10px; left: 5px; }
.error-arrow span::before { color: rgb(173, 32, 142); content: "➨"; left: 0px; position: absolute; transform: rotate(180deg); vertical-align: middle; }
.hub-headlines .col:nth-child(2), .hub-headlines .col:nth-child(5) { margin: 1% 0.75%; }
.hub-headlines .col:nth-child(4) { clear: left; }
.hub-headlines .col:nth-child(5) { clear: none; }
.group::after, .row, .row::after { clear: both; }
.home #indexTable th:nth-child(3) { padding: 4px 4px 4px 12px; }
#homepageIndexRowTime { padding: 5px 0px 0px; }
button#stock-search-submit, input#stock-search-text { font-size: 1em; }
.group::after, .group::before, .row::after, .row::before { content: ""; display: table; }
.blue-button, .blue-button:link, .blue-button:visited, .lesson-complete-button:link, .lesson-complete-button:visited, .lightgreen-button:link, .lightgreen-button:visited, a.comment:link, a.comment:visited, a.follow-btn:link, a.follow-btn:visited, a.rating:link, a.rating:visited { color: rgb(255, 255, 255); border-radius: 3px; display: inline-block; cursor: pointer; font-size: 13px; font-weight: 700; line-height: 100%; padding: 5px; position: relative; transition: all 0.2s ease 0s; }
.lesson-complete-button::before { content: "✓"; vertical-align: middle; position: absolute; left: 5px; }
.blue-button, .blue-button:link, .blue-button:visited, a.comment:link, a.comment:visited, a.rating:link, a.rating:visited { background: rgb(173, 32, 142) none repeat scroll 0% 0%; }
.lightgreen-button:link, .lightgreen-button:visited { background: rgb(108, 179, 63) none repeat scroll 0% 0%; }
.blue-button:active, .blue-button:hover, .lightgreen-button:active, .lightgreen-button:hover, .site__footer--primary .icon:active, .site__footer--primary .icon:hover, a.comment:active, a.comment:hover, a.follow-btn:active, a.follow-btn:hover, a.rating:active, a.rating:hover { text-decoration: none; transition: all 0.2s ease 0s; opacity: 0.7; }
.divider, .rail-module { width: 300px; }
.divider { border-bottom: 4px solid rgb(230, 230, 230); margin: 15px 0px; }
.rail-module ul { margin: 10px 10px 0px 11px; }
.rail-module li { margin: 0px 0px 5px; padding: 0px 0px 5px; }
.box-module ul li a, .rail-module li a, .rail-module.investing-tools div div a { font-size: 14px; }
input.text, input.title, input[type="password"], input[type="text"], select, textarea { border: 1px solid rgb(188, 188, 188); font-size: 14px; margin: 0px; }
input.text, input.title, input[type="password"], input[type="text"], textarea { padding: 2px 2px 3px 4px; }
input.checkbox, input.radio, input[type="checkbox"], input[type="radio"] { position: relative; top: 2px; }
.footer_googAd { width: 728px; }
img[name="s_i_nasdaqdev"], img[name="s_i_nasdaqprod"] { display: none; }
.TalignC { text-align: center; }
.floatL { float: left; }
.floatR { float: right; }
.clearB { clear: both; }
.displayIB { display: inline-block; }
.marginB5px { margin-bottom: 5px; }
.marginL5px { margin-left: 5px; }
.marginT5px { margin-top: 5px; }
.marginB10px { margin-bottom: 10px; }
.marginL10px { margin-left: 10px; }
.marginL15px { margin-left: 15px; }
.marginLAuto { margin-left: auto; }
.marginRAuto { margin-right: auto; }
.paddingL5px { padding-left: 5px; }
.paddingT5px { padding-top: 5px; }
.paddingB10px { padding-bottom: 10px; }
.paddingL10px { padding-left: 10px; }
.paddingR10px { padding-right: 10px; }
.paddingT10px { padding-top: 10px; }
.paddingL15px { padding-left: 15px; }
.fontS14px { font-size: 14px; }
@media screen and (min-width: 0px) {
  .home .coLogo, .home .earnings-content, .home .etf-content, .home .hub-headlines, .responsive #global_nav .primary > li > a::after, .site__footer__nav [title="NASDAQ OMX Technology"] + span, html .global-fixed-nav #global_nav .primary > li > a::after { display: none; }
  .pf { height: 144px; }
  .inner #global_header, .inner .site__footer { width: 1000px; }
  #ad-unit970, .pf-wrap, .responsive #container, .responsive .wrapper, .wrapper, html .global-fixed-nav .wrapper { width: 768px; }
  .responsive #global_header .logo::after { right: -720px; width: 475px; }
  #global_header.global-fixed-nav .logo::after { right: -610px; }
  .site__footer--secondary { padding: 0px 0px 11.25em; }
}
@media screen and (min-width: 900px) {
  .pf-wrap { width: 900px; }
}
@media screen and (min-width: 1000px) {
  .pf-wrap { width: 1000px; }
  .pf { height: 72px; }
  .inner #global_header, .inner .site__footer { width: auto; }
  .site__footer--secondary { padding: 0px 0px 5.75em; }
  .inner .global-fixed-nav .wrapper, .responsive #container, .responsive .wrapper, .wide .global-fixed-nav .wrapper, .wrapper { width: 1000px; }
  .responsive #global_header .logo::after { right: -960px; width: 725px; }
  #global_header.global-fixed-nav .logo::after { right: -850px; }
  .responsive #global_nav .primary > li > a::after, .site__footer__nav [title="NASDAQ OMX Technology"] + span, html .global-fixed-nav #global_nav .primary > li > a::after { display: inline-block; }
  #home-earnings-table tr:first-child td:nth-child(3) span span, .home .coLogo, .home .earnings-content, .home .etf-content, .home .hub-headlines { display: block; }
  .hub-headlines .col:nth-child(2n+1) { clear: left; margin: 1% 1.5% 1% 0px; }
  .hub-headlines .col:nth-child(2n) { clear: none; margin: 1% 0px; }
}
@media screen and (min-width: 1100px) {
  .pf-wrap { width: 1100px; }
}
@media screen and (min-width: 1200px) {
  .pf-wrap { width: 1200px; }
}
@media screen and (min-width: 1300px) {
  .pf-wrap, .wide #container, .wide .global-fixed-nav .wrapper, .wide .wrapper, .wrapper { width: 1280px; }
  #home-earnings-table tr:first-child td:nth-child(3) span span { display: inline; }
  .hub-headlines .col:first-child, .hub-headlines .col:nth-child(3), .hub-headlines .col:nth-child(4), .hub-headlines .col:nth-child(6) { margin: 1% 0px; }
  .hub-headlines .col:nth-child(2), .hub-headlines .col:nth-child(5) { margin: 1% 0.75%; }
  .hub-headlines .col:nth-child(4) { clear: left; }
  .hub-headlines .col:nth-child(3), .hub-headlines .col:nth-child(5) { clear: none; }
}
@media print {
  #backdrop, #container .footer_googAd, #content #h1_information, #content #pagerContainer, #content #quotesnav_symbols, #content #quotesnav_symbols_border, #content #quotesnav_symbols_l, #content #quotesnav_symbols_l_border, #content #right-column-div, #content .quotesnav, #content ul.pager, #content + .clearB + br, #content + .clearB + br + br, #global_header, #global_search, #panel_left, #qtop-graybg, #qtop-graybg-inside, #qtopAd-graybg, #qtopAd-sponsored, #qwidget-sector-wrap, .addthisSticky, .addthis_32x32_style, .addthis_floating_style, .addthis_toolbox, .backdrop, .pf, .quotenav_checkbox-leftgray, .quotenav_checkbox-leftgray-small, .quotenav_checkbox-leftwhite, .quotenav_checkbox-leftwhite-small, .quotenav_checkbox-rightgray, .quotenav_checkbox-rightwhite, .site__footer { display: none; }
  #container { line-height: 1.5; min-height: 0px; padding: 0px; }
  html #content { left: 0px; }
  #content #left-column-div { border: 0px none; margin: 0px; padding: 0px; }
  #container, #content, body, html { background: transparent none repeat scroll 0px 0px !important; }
}
