/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans"), local("DroidSans"), url("s-BiyweUPV0v-yRb-cjciAzyDMXhdD8sAj6OAJTFsBI_woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Droid Sans Bold"), local("DroidSans-Bold"), url("EFpQQyG9GqCrobXxL-KRMWaVI6zN22yiurzcBKxPjFE_woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
