/* Effective stylesheet produced by snapshot save */
html { -moz-text-size-adjust: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
li { list-style: outside none none; }
q::before, q::after { content: ""; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select {  }
a { text-decoration: none; }
.ui-helper-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0px; left: 0px; z-index: 9999; overflow: hidden; }
#cboxOverlay { position: fixed; width: 100%; height: 100%; }
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; }
#cboxLoadedContent { overflow: auto; }
#cboxTitle { margin: 0px; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0px; left: 0px; width: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
#cboxOverlay { background: transparent url("urn:not-loaded:http://assets.emailmeform.com/images/colorbox/images/overlay.png") repeat scroll 0px 0px; }
#colorbox {  }
#cboxTopLeft { width: 21px; height: 21px; background: transparent url("controls.png") no-repeat scroll -100px 0px; }
#cboxTopRight { width: 21px; height: 21px; background: transparent url("controls.png") no-repeat scroll -129px 0px; }
#cboxBottomLeft { width: 21px; height: 21px; background: transparent url("controls.png") no-repeat scroll -100px -29px; }
#cboxBottomRight { width: 21px; height: 21px; background: transparent url("controls.png") no-repeat scroll -129px -29px; }
#cboxMiddleLeft { width: 21px; background: transparent url("controls.png") repeat-y scroll left top; }
#cboxMiddleRight { width: 21px; background: transparent url("controls.png") repeat-y scroll right top; }
#cboxTopCenter { height: 21px; background: transparent url("border.png") repeat-x scroll 0px 0px; }
#cboxBottomCenter { height: 21px; background: transparent url("border.png") repeat-x scroll 0px -29px; }
#cboxContent { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
#cboxLoadedContent { margin-bottom: 28px; }
#cboxTitle { position: absolute; bottom: 4px; left: 0px; text-align: center; width: 100%; color: rgb(148, 148, 148); }
#cboxCurrent { position: absolute; bottom: 4px; left: 58px; color: rgb(148, 148, 148); }
#cboxSlideshow { position: absolute; bottom: 4px; right: 30px; color: rgb(0, 146, 239); }
#cboxPrevious { position: absolute; bottom: 0px; left: 0px; background: transparent url("controls.png") no-repeat scroll -75px 0px; width: 25px; height: 25px; text-indent: -9999px; }
#cboxNext { position: absolute; bottom: 0px; left: 27px; background: transparent url("controls.png") no-repeat scroll -50px 0px; width: 25px; height: 25px; text-indent: -9999px; }
#cboxLoadingOverlay { background: transparent url("loading_background.png") no-repeat scroll center center; }
#cboxLoadingGraphic { background: transparent url("loading.gif") no-repeat scroll center center; }
#cboxClose { position: absolute; bottom: 0px; right: 0px; background: transparent url("controls.png") no-repeat scroll -25px 0px; width: 25px; height: 25px; text-indent: -9999px; }
#emf-container-outer { padding-top: 15px; padding-bottom: 15px; }
#emf-form { margin-bottom: 0px; }
#emf-form input { padding: 1px 0px; }
#emf-form input, #emf-form select, #emf-form textarea { color: rgb(0, 0, 0); box-sizing: border-box; }
.emf-error-message { color: red; font-weight: 700; padding: 5px 20px; }
#emf-container { text-align: left; margin: 0px auto; width: 640px; font-size: 13px; border-radius: 7px; }
#emf-container .emf-bold { font-weight: 700; }
#emf-container .emf-clear { clear: both; }
#emf-container ul { list-style-type: none; padding: 0px; margin: 0px; }
#emf-container ul li { margin: 5px 0px; padding: 5px 0px; width: 100%; vertical-align: top; clear: both; }
#emf-container ul li label.emf-label-desc { font-weight: 700; padding-right: 2px; padding-bottom: 5px; display: block; }
#emf-container ul li label.emf-label-desc span { color: rgb(255, 0, 0); }
#emf-container ul li .emf-div-instruction, #emf-container ul li .emf-section-text { clear: both; font-size: 13px; padding: 2px 0px; }
#emf-logo, #emf-logo a { border-top-left-radius: 7px; border-top-right-radius: 7px; }
#emf-logo a { display: block; height: 0px; overflow: hidden; }
#emf-form-instruction { padding-left: 5px; padding-bottom: 10px; }
#emf-form-title { font-size: 20px; }
#emf-form-description { font-size: 15px; }
#emf-form { position: relative; padding: 15px 15px 5px; }
#emf-li-post-button input { margin-right: 5px; }
#emf-li-post-button.left { padding-left: 5px; text-align: left; }
.emf-head-widget { border-bottom: 1px dotted rgb(204, 204, 204); padding: 10px 0px; }
.emf-li-field { padding-left: 0px; overflow-x: hidden; }
.emf-upload-widget a { text-decoration: underline; color: rgb(0, 0, 238); }
.emf-upload-button { position: relative; width: 60px; overflow: hidden; text-align: left; }
.emf-upload-button input { position: absolute; right: 0px; top: 0px; opacity: 0; cursor: pointer; }
@media print {
  #emf-li-post-button, .emf-page-operations, #emf-form-shadows, #emf-logo, .ui-datepicker-trigger { display: none; }
}
#emf-form input, #emf-form select, #emf-form textarea { max-width: 100%; }
@media screen and (max-width: 400px) {
  body { margin: 0px !important; padding: 3px; }
  #emf-container #emf-form { padding: 5px 7px; }
  #emf-container #emf-form ul li.emf-li-field { padding-left: 0px; }
  .emf-field-text input, .emf-field-number input, .emf-field-email input, .emf-field-url input, .emf-field-text_list input, .emf-field-number_list input, .emf-field-textarea textarea, .emf-field-text_area_list textarea, .emf-field-drop_down_list select { width: 100%; }
  .emf-field-grid td::before { position: relative; display: block; }
}
